<!DOCTYPE html>
<html>
<head>
    <title>Interest Groups</title>
</head>
<body>
    <h1>Interest Groups</h1>
    <form method="GET" action="/searchIG">
    <input type="text" name="name" placeholder="Search by Name">
    <input type="number" name="category_id" placeholder="Category ID">
    <input type="number" name="school_id" placeholder="School ID">
    <button type="submit">Search</button>
</form>


    <% if (success) { %><p style="color: green;"><%= success %></p><% } %>
    <% if (error) { %><p style="color: red;"><%= error %></p><% } %>

    <a href="/addIG">Add Interest Group</a>
    <ul>
        <% igs.forEach(ig => { %>
            <li>
                <strong><%= ig.name %></strong> - <%= ig.description %> <br>
                <a href="/editIG/<%= ig.id %>">Edit</a> |
                <a href="/deleteIG/<%= ig.id %>" onclick="return confirm('Confirm delete?')">Delete</a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
